@model IEnumerable<Aula1.Models.Category>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lista de Categorias";
}

<div class="panel	panel-primary">
    <div class="panel-heading">
        Relação	de Categorias Registradas
    </div>
    <div class="panel-body">
        <table class="table	table-striped	table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId })	|
                            @Html.ActionLink("Details", "Details", new { id = item.CategoryId })	|
                            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer	panel-info">
        @Html.ActionLink("Create New Categoria", "Create", null, new { @class = "btn	btn-success" })
    </div>
</div>
@section	styles{<link href="@Url.Content("~/content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet" />}
@section	ScriptPage	{
    <script src=" @Url.Content("~/scripts/DataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/scripts/DataTables/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).ready(function () {
                $('li').removeClass("active");
                $('#liCategories').addClass("active");
                $('.table').dataTable({ "order": [[1, "asc"]] });
            });
    </script>
}